.experience {
  margin-top: 400px;
  margin-bottom: 200px;
  padding-top: 100px;
  padding-bottom: 250px;
  padding-left: 12vw;
  padding-right: 12vw;
  background-color: rgb(244, 240, 235);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  position: relative;
  font-family: 'Outfit', sans-serif;
}

.experience-heading {
  margin-left: 150px;
}

.experience-title {
  font-size: 40px;
  color: rgb(92, 92, 92);
  text-shadow: 1px 1px 0.7px rgba(0, 0, 0, 0.1);
  text-shadow: -2px 2px 0px rgb(221, 211, 207);

}

.experience-subheading {
  color: gray;
  text-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.4),
}

.experience-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
  position: absolute;
  left: 13vw;
  right: 13vw;
  top: 125px;
  color: rgb(78, 78, 78);
}

.experience-box {
  background-color: rgb(205, 183, 166);
  width: 250px;
  height: 360px;
  border-radius: 2px;
  box-shadow: -10px 10px 0px rgb(141, 128, 123);
}

.experience-text {
  margin-top: 20px;
  margin-left: 26px;
  margin-right: 26px;
  line-height: 24px;
}

.experience-block-title {
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}