html {

}

body {

}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Outfit', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

.contents {
  overflow-y: scroll;
  scroll-behavior: smooth;
}